#section-exames {
    display: none;
    justify-content: space-between;
    align-items: center;
    flex-flow: wrap row;
    width: 100%;
    min-height: 100vh;
    background-color: #29d0f2;
    border-top: 2px solid rgba(0, 0, 0, 0.1);

    h3 {
        text-overflow: ellipsis;
        font-size: 18px;
        white-space: nowrap;
        overflow: hidden;
        background-color: white;
        width: 100%;
        border-radius: 20px 20px 0px 0px;
        text-align: center;
        padding: 10px;
        font-weight: 900;
        border-bottom: 2px solid #111;
    }

    .exame {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 60%;
        max-width: 400px;
        height: 400px;
        border-radius: 22px;
        scale: 0.7;
        background-color: none;
        box-shadow: rgba(0, 0, 0, 0.5) 5px 8px 10px 2px;

        div {
            padding: 20px;
            display: -webkit-box;
            -webkit-line-clamp: 12;
            line-clamp: 12;
            overflow: hidden;
            -webkit-box-orient: vertical;
        }
    }

    .exame:hover {
        scale: 1;
        box-shadow: none;
        height: 400px;
        border: 2px solid black;
        // box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 15px 2px;
    }
}