// Section Campanhas
@media (max-width: 900px) {
    #campanhas {
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        width: 100%;

        .cards {
            justify-content: space-evenly;
            flex-flow: column wrap;
            width: 90%;
        }

    }
}
// Section Doações
@media (max-width: 1420px) and (min-width: 1020px) {
    #doacoes {
        background-image: none;
        flex-direction: row;

        .caixaTexto {
            height: 300px;
            text-align: center;
            h2 {
                width: 100%;
                font-size: 40px;
            }
    
            p {
                width: 100%;
                font-size: 18px;
                text-align: center;
                
            }
        }

        .box {
            width: 600px;
        }
    }
}
// Section Doações
@media (max-width: 1020px) {
    #doacoes {
        width: 100%;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        background-image: none;

        .caixaTexto {
            height: 300px;
            h2 {
                width: 100%;
                font-size: 32px;
                text-align: center;
            }
    
            p {
                width: 100%;
                font-size: 16px;
                text-align: center;
            }
        }

        .box {
            width: 100%;
        }
    }
}

@media (max-width: 960px) {
    .header-topo {

        .section-logo {
            scale: 0.8;
            margin: 0;
        }

        .navbar {
            display: none;
        }

        .dropdown {
            display: inline-block;
            margin: 0;
            .dropbtn {
                scale: 0.6;
            }

            .dropdown-content {
                right: 10%;
                padding: 0;

                li a {
                    text-decoration: none;
                    font-size: 16px;
                    color: #ED4590;
                    width: 100%;
                    text-align: center;
                    font-weight: 400;
                }
                
                li a:hover {
                    font-weight: 600;
                    font-family: 'Inter', sans-serif;
                    background-color: #f3cedf;
                    color: #ED459055;
                }
            }
        }
    }
}

@media (max-width: 1260px) {
    #principal #inicio {
        flex-direction: column;
        width: 100%;

        .sectionOutubroRosa {
            width: 100%;
            margin: 0 auto;

            img {
                max-width: 400px;
                min-width: 400px;
                min-height: 600px;
            }

            a {
                scale: 0.8;
            }
        }

        .section-texto {
            width: 100%;
            min-height: 100vh;

            .carousel > .carousel-inner > .carousel-item > .d-block {
                text-align: center;

                h2 {
                    width: 100%;
                    scale: 0.9;
                    padding: 0;
                    margin: 0;
                }

                p.fs-4 {
                    width: 100%;
                    padding: 0 5px;
                    scale: 0.9;
                    margin: 0;
                }
            }

            .redesSociais {
                justify-content: center;

                a img {
                    scale: 0.8;
                }
            }
        }
    }
}

@media (max-width: 1280px) {
    #informations {
        max-width: 100%;
        height: 100vh;
        gap: 30px;
        h2 {
            font-size: 18pt;
        }

        .section-info {
            width: 35%;
            gap: 50px;
            flex-direction: column;
        }
    }

    #section-exames {
        justify-content: center;
    }
    #section-equipe-medica {
        justify-content: center;
    }
    #section-tratamento {
        justify-content: center;
    }
    

}