@media (max-width: 900px) {
  #campanhas {
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: 100%;
  }
  #campanhas .cards {
    justify-content: space-evenly;
    flex-flow: column wrap;
    width: 90%;
  }
}
@media (max-width: 1420px) and (min-width: 1020px) {
  #doacoes {
    background-image: none;
    flex-direction: row;
  }
  #doacoes .caixaTexto {
    height: 300px;
    text-align: center;
  }
  #doacoes .caixaTexto h2 {
    width: 100%;
    font-size: 40px;
  }
  #doacoes .caixaTexto p {
    width: 100%;
    font-size: 18px;
    text-align: center;
  }
  #doacoes .box {
    width: 600px;
  }
}
@media (max-width: 1020px) {
  #doacoes {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-image: none;
  }
  #doacoes .caixaTexto {
    height: 300px;
  }
  #doacoes .caixaTexto h2 {
    width: 100%;
    font-size: 32px;
    text-align: center;
  }
  #doacoes .caixaTexto p {
    width: 100%;
    font-size: 16px;
    text-align: center;
  }
  #doacoes .box {
    width: 100%;
  }
}
@media (max-width: 960px) {
  .header-topo .section-logo {
    scale: 0.8;
    margin: 0;
  }
  .header-topo .navbar {
    display: none;
  }
  .header-topo .dropdown {
    display: inline-block;
    margin: 0;
  }
  .header-topo .dropdown .dropbtn {
    scale: 0.6;
  }
  .header-topo .dropdown .dropdown-content {
    right: 10%;
    padding: 0;
  }
  .header-topo .dropdown .dropdown-content li a {
    text-decoration: none;
    font-size: 16px;
    color: #ED4590;
    width: 100%;
    text-align: center;
    font-weight: 400;
  }
  .header-topo .dropdown .dropdown-content li a:hover {
    font-weight: 600;
    font-family: "Inter", sans-serif;
    background-color: #f3cedf;
    color: rgba(237, 69, 144, 0.3333333333);
  }
}
@media (max-width: 1260px) {
  #principal #inicio {
    flex-direction: column;
    width: 100%;
  }
  #principal #inicio .sectionOutubroRosa {
    width: 100%;
    margin: 0 auto;
  }
  #principal #inicio .sectionOutubroRosa img {
    max-width: 400px;
    min-width: 400px;
    min-height: 600px;
  }
  #principal #inicio .sectionOutubroRosa a {
    scale: 0.8;
  }
  #principal #inicio .section-texto {
    width: 100%;
    min-height: 100vh;
  }
  #principal #inicio .section-texto .carousel > .carousel-inner > .carousel-item > .d-block {
    text-align: center;
  }
  #principal #inicio .section-texto .carousel > .carousel-inner > .carousel-item > .d-block h2 {
    width: 100%;
    scale: 0.9;
    padding: 0;
    margin: 0;
  }
  #principal #inicio .section-texto .carousel > .carousel-inner > .carousel-item > .d-block p.fs-4 {
    width: 100%;
    padding: 0 5px;
    scale: 0.9;
    margin: 0;
  }
  #principal #inicio .section-texto .redesSociais {
    justify-content: center;
  }
  #principal #inicio .section-texto .redesSociais a img {
    scale: 0.8;
  }
}
@media (max-width: 1280px) and (min-width: 900px) {
  #informations {
    width: 100%;
    height: 100vh;
    gap: 30px;
  }
  #informations h2 {
    font-size: 18pt;
  }
  #informations .section-info {
    width: 100%;
    flex-flow: row;
    align-items: center;
    gap: 50px;
    height: 40vh;
  }
  #informations .section-info .warning {
    width: 100%;
  }
}
@media (max-width: 900px) {
  #informations {
    width: 100%;
    height: 100vh;
    gap: 30px;
  }
  #informations h2 {
    font-size: 18pt;
  }
  #informations .section-info {
    width: 80%;
    min-width: 150px;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    height: 80vh;
  }
  #informations .section-info .warning {
    width: 180px;
  }
}
@media (max-width: 1280px) {
  #section-exames {
    justify-content: center;
  }
  #section-equipe-medica {
    justify-content: center;
  }
  #section-tratamento {
    justify-content: center;
  }
}/*# sourceMappingURL=media_query.css.map */