#informations {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 100px;
    width: 100%;
    height: 100vh;
    background-color: white;
    border-top: 1px solid rgba(0, 0, 0, 0.5);

    h2 {
        font-size: 50px;
        text-transform: uppercase;
    }

    .section-info {
        display: flex;
        gap: 200px;
        width: 100%;
        max-width: 80%;

        .warning {
            display: flex;
            flex-direction: column;
            width: 100%;

            a {
                cursor: url('./img/cursor.png'), auto;
                box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 2px 2px;
            }
        }

        a:active {
            cursor: url('./img/click.png'), auto;
            box-shadow: rgba(0, 0, 0, 0.5) inset 2px 2px 2px 2px;
        }

        img {
            width: 100%;
        }

    }
}